/* set background color of body of webpage to black*/
/* set text color of body to white */
/* set font family of text to cursive */
/* set padding of body to 50px */
body{
    background-color:black ;
    color: white;
    font-family: cursive;
    padding: 50px;
}

/* The header element has class name header*/
.header{
    color: white;
}

/* select all li tag in the element with class name header has following properties */
.header li{
    font-size: 25px;
    border: 2px solid white;
    border-radius: 10px;
}

/* set all ul tag element with no marker */
ul{
    list-style: none;
}

/* set all a tag element have color white and no text decoration  */
a{
    color: white;
    text-decoration: none;
}

/* each section has margin top with 50px */
section{
    margin-top: 50px;

}


/* set text font size of h1 tag to 80 px */
h1{
    font-size: 80px;
    
}

/* set text font size of h2 tag to 35px */
h2{
    font-size: 35px;
}


/* select all p tag element in a parent element which has class name .about-me
has following layout*/
.about-me p{
    font-size: 25px;
    border: 2px solid white;
    border-radius: 10px;

}

/* the pesudo class hover */
/* select any img element with following clas name when hovered */
.first-image-container:hover img,
.second-image-container:hover img,
.third-image-container:hover img{
    box-shadow: 0 0 50px white;
}

/* select any li element with class name contact-me*/
.contact-me li{
    border: 2px solid white;
    border-radius: 10px;
    font-size: 25px;

}

/* set width and height of avatar */
.avatar{
    width: 300px;
    height: 300px;
}

/*Layout of footer*/
.footer {
    /* padding extra space with the elemnt */
    padding: 30px;
    /* the floating element are not allowed on left and right side */
    clear: both;
    /* element content has following font family */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* set the horizontal alignment of the content inside a block element (div is block element) */
    /* set to center  */
    text-align: center;
}

/* 600px and down */
@media screen and (max-width:600px) {
    header{
        display: flex;
        flex-direction: column;
    }

    .header li{
        display: inline-block;
        margin-left: 15px;
    }
    
    .about-me{
        display: flex;
        flex-direction: column;
    }

    .about-me p{
        width: 450px;
    }

    .project{
        display: flex;
        flex-direction: column;
    }

    .first-image-container img,
    .second-image-container img,
    .third-image-container img{
        width: 450px;
        height: 225px;
    }

    .first-image-container,
    .second-image-container,
    .third-image-container{
        position: relative;
    }

    .first-image-title,
    .second-image-title,
    .third-image-title{
        position:absolute;
        bottom: 5px;
        background-color: black;
    }

    .contact-me{
        display: flex;
        flex-direction: column;

    }

    #phone{
        width: 357px;
    }

    #email{
        width: 388px;
    }

    #github-ID{
        width: 87px;
    }

    #linkedin-ID{
        width: 108px;
    }
}

/* 600px and up */
@media screen and (min-width:600px) {
    header{
        display: flex;
        flex-direction: column;
    }

    .header li{
        display: inline-block;
        margin-left: 15px;
    }
    
    .about-me{
        display: flex;
        flex-direction: column;
    }

    .about-me p{
        width: 600px;
    }

    .project{
        display: flex;
        flex-direction: column;
    }

    .first-image-container img{
        width: 650px;
        height: 425px;

    }

    .second-image-container img,
    .third-image-container img{
        width: 450px;
        height: 225px;
    }

    .first-image-container,
    .second-image-container,
    .third-image-container{
        position: relative;
    }

    .first-image-title,
    .second-image-title,
    .third-image-title{
        position:absolute;
        bottom: 5px;
        background-color: black;
    }

    .contact-me{
        display: flex;
        flex-direction: column;

    }
    #phone{
        width: 357px;
    }

    #email{
        width: 388px;
    }

    #github-ID{
        width: 87px;
    }

    #linkedin-ID{
        width: 108px;
    }
}

/* 768px and up */
@media screen and (min-width:768px) {
    header{
        display: flex;
        flex-direction: column;
    }

    .header li{
        display: inline-block;
        margin-left: 15px;
    }
    
    .about-me{
        display: flex;
        flex-direction: column;
    }

    .about-me p{
        width: 768px;
    }

    .project{
        display: flex;
        flex-direction: column;
    }

    .first-image-container img{
        width: 650px;
        height: 425px;

    }

    .second-image-container img,
    .third-image-container img{
        width: 450px;
        height: 225px;
    }

    .first-image-container,
    .second-image-container,
    .third-image-container{
        position: relative;
    }

    .first-image-title,
    .second-image-title,
    .third-image-title{
        position:absolute;
        bottom: 5px;
        background-color: black;
    }

    .contact-me{
        display: flex;
        flex-direction: column;

    }
    #phone{
        width: 357px;
    }

    #email{
        width: 388px;
    }

    #github-ID{
        width: 87px;
    }

    #linkedin-ID{
        width: 108px;
    }
}

/* 992px and up */
@media screen and (min-width:992px) {
    header{
        display: flex;
        flex-direction: column;
    }

    .header li{
        display: inline-block;
        margin-left: 15px;
    }
    
    .about-me{
        display: flex;
        flex-direction: column;
    }

    .about-me p{
        width: 900px;
    }
    .project{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* line break */
    .project h2{
        width: 10000px
    }

    .first-image-container img{
        width: 900px;
        height: 500px;

    }
    
    .second-image-container img,
    .third-image-container img{
        width: 450px;
        height: 250px;
    }

    .first-image-container,
    .second-image-container,
    .third-image-container{
        position: relative;
    }

    .first-image-title,
    .second-image-title,
    .third-image-title{
        position:absolute;
        bottom: 5px;
        background-color: black;
    }

    .contact-me{
        display: flex;
        flex-direction: column;

    }
    #phone{
        width: 357px;
    }

    #email{
        width: 388px;
    }

    #github-ID{
        width: 87px;
    }

    #linkedin-ID{
        width: 108px;
    }
}

/* 1200px and up */
@media screen and (min-width:1200px) {
    header{
        display: flex;
        flex-direction: column;
    }

    .header li{
        display: inline-block;
        margin-left: 15px;
    }
    
    .about-me{
        display: flex;
        flex-direction: column;
    }

    .about-me p{
        width: 1100px;
    }
    .project{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    /* line break */
    .project h2{
        width: 10000px
    }

    .first-image-container img{
        width: 1100px;
        height: 700px;

    }
    
    .second-image-container img,
    .third-image-container img{
        width: 550px;
        height: 350px;
    }

    .first-image-container,
    .second-image-container,
    .third-image-container{
        position: relative;
    }

    .first-image-title,
    .second-image-title,
    .third-image-title{
        position:absolute;
        bottom: 5px;
        background-color: black;
    }

    .contact-me{
        display: flex;
        flex-direction: column;

    }
    #phone{
        width: 357px;
    }

    #email{
        width: 388px;
    }

    #github-ID{
        width: 87px;
    }

    #linkedin-ID{
        width: 108px;
    }
}

/* 1750px and up */
@media screen and (min-width:1750px) {
    header{
        display: flex;
        flex-direction: column;
    }

    .header li{
        display: inline-block;
        margin-left: 15px;
    }
    
    .about-me{
        display: flex;
        flex-direction: column;
    }

    .about-me p{
        width: 1100px;
    }
    .project{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* line break */
    .project h2{
        width: 10000px
    }

    .first-image-container img{
        width: 1100px;
        height: 700px;

    }
    
    .second-image-container img,
    .third-image-container img{
        width: 550px;
        height: 350px;
    }

    .first-image-container,
    .second-image-container,
    .third-image-container{
        position: relative;
    }

    .first-image-title,
    .second-image-title,
    .third-image-title{
        position:absolute;
        bottom: 5px;
        background-color: black;
    }

    .contact-me{
        display: flex;
        flex-direction: column;

    }
    #phone{
        width: 357px;
    }

    #email{
        width: 388px;
    }

    #github-ID{
        width: 87px;
    }

    #linkedin-ID{
        width: 108px;
    }
}


